@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your existing custom styles can go here */

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(66, 153, 225, 0.7);
  }
  
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(66, 153, 225, 0);
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(66, 153, 225, 0);
  }
}

.pulsing-marker::after {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite !important;
}
